{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">

        <div class="col-3">
            Sous menu de la page Profile
        </div>
        <div class="col-9">
            Infos Utilisateur
        </div>
    </div>
</div>
{% endblock %}
