{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - CornerDeals{% endblock %}

{% block body %}
    <h1 class="text-center py-5">Modifier mon mot de passe</h1>
    {% if notification %}
        <div class="alert alert-success">{{ notification }}</div>
    {% endif %}
    {{ form(form) }}
    <a href="{{ path('profile') }}">Retourner à mon compte</a><br>
{% endblock %}