{% extends 'base.html.twig' %}

{% block title %}New Merchant{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">

                <h1 class="text-center py-5">Créer une nouvelle Boutique</h1>

                {{ include('merchant/merchant/_form.html.twig') }}

                <a href="{{ path('merchant:index') }}">Retour</a>
            </div>
        </div>
    </div>

{% endblock %}
