{% extends 'base.html.twig' %}

{% block title %}Edit DiscountCode{% endblock %}

{% block body %}
    <h1>Modifier un Code Promo</h1>

    {{ include('discount_code/discount_code/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('discount_code:index') }}">Retour</a>

    {{ include('discount_code/discount_code/_delete_form.html.twig') }}
{% endblock %}
