{% extends 'base.html.twig' %}

{% block title %}New DiscountCode{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-4 offset-lg-4">

        <h1>Créer un nouveau Code Promo</h1>

    {{ include('discount_code/discount_code/_form.html.twig') }}

    <a href="{{ path('discount_code:index') }}">Retour</a>
        </div>
    </div>
</div>

{% endblock %}
