{% extends 'base.html.twig' %}

{% block title %}New DiscountCode{% endblock %}

{% block body %}
    <h1>Create new DiscountCode</h1>

    {{ include('discount_code/discount_code/_form.html.twig') }}

    <a href="{{ path('discount_code:index') }}">back to list</a>
{% endblock %}
