{% extends 'base.html.twig' %}

{% block title %}BACKOFFICE{% endblock %}

{% block body %}

    <div class="container">

        <h1 class="display-4 text-center my-5">BACKOFFICE</h1>

        <h4 class="text-center">Bienvenue

        {# Si l'internaute est connecté, alors on affiche username en piochant directement dans la session (app.user) #}
        {%  if app.user %}

            <span class="text-info">{{ app.user.firstname }} {{ app.user.lastname }}</span>
        {% endif %}

        dans votre espace personnalisé
        </h4>

    <div class="display-4 text-center my-5">
        <a href="{{ path('admin_deals')}}" class="col-md-4 btn btn-primary mb-2">GESTION DES DEALS</a>
        <a href="{{ path('admin_category')}}" class="col-md-4 btn btn-info mb-2">GESTION DES CATEGORIES</a><br>
        <a href="#" class="col-md-4 btn btn-warning mb-2">GESTION DES COMMENTAIRES</a>
        <a href="#" class="col-md-4 btn btn-success mb-2">GESTION DES MEMBRES</a>
    </div>

    </div>

{% endblock %}
