{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <h1>Modifier un Produit</h1>

    {{ include('product/product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('product:index') }}">Retour</a>

    {{ include('product/product/_delete_form.html.twig') }}
{% endblock %}
