{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-4 offset-lg-4">

        <h1>Créer un nouveau produit</h1>

    {{ include('product/product/_form.html.twig') }}

    <a href="{{ path('product:index') }}">Retour</a>
        </div>
    </div>
</div>

{% endblock %}
