body {
/*    background-color: lightgray;*/
}

.required::after{
    content: "*";
    margin-left: 4px;
    color: red;
}

.conteneur-base{
    min-height: 80vh;
}

tr, td, th {
    vertical-align: middle ! important;
}

.deal .deal-info{
    display: flex;
    align-items: center;
}

.deal .deal-info span{
    padding: 0 10px;
}

.deal .deal-info .spacer{
    flex: 1;
}

.deal .deal-picture{
    position: relative;
}

.deal .deal-timer{
    position:absolute;
    top: 10px;
    right: 10px;
}

/*.notifications{*/
/*    position: fixed;*/
/*    z-index: 2;*/
/*    bottom: 5px;*/
/*    right: 5px;*/
/*    max-width: 250px;*/

}