{% extends 'base.html.twig' %}

{% block title %}Edit Deal{% endblock %}

{% block body %}
    <h1>Modifier un Deal</h1>

    {{ include('deal/deal/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('deal:index') }}">Retour</a>

    {{ include('deal/deal/_delete_form.html.twig') }}
{% endblock %}
