<!DOCTYPE html>
<!--
   ____                           _____             _
 / ____|                         |  __ \           | |
| |     ___  _ __ _ __   ___ _ __| |  | | ___  __ _| |___
| |    / _ \| '__| '_ \ / _ \ '__| |  | |/ _ \/ _` | / __|
| |___| (_) | |  | | | |  __/ |  | |__| |  __/ (_| | \__ \
 \_____\___/|_|  |_| |_|\___|_|  |_____/ \___|\__,_|_|___/
-->

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}CornerDeals{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<header>
    {% include 'components/_nav.html.twig' %}
</header>

<body>
<main class="container">
    {% block body %}

    {% endblock %}
</main>

<footer>
    {% include 'components/_footer.html.twig' %}
</footer>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}

{% endblock %}
</body>

</html>